<ion-header>
  <ion-toolbar>
    <ion-title>
      Avatar y Button
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- ion-avatar -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/img/avatar.jpg" alt="Avatar">
    </ion-avatar>

    <ion-label>
      <h2>Lyrken</h2>
      <p>Calle</p>
    </ion-label>
  </ion-item>

  <br>

  <!-- ion-button -->
 <ion-button
  expand="block"
  color="primary"
  href="https://www.linkedin.com/in/lyrken/"
  target="_blank"
  rel="noopener noreferrer"
>
  LinkedIn
</ion-button>


<ion-button
  expand="block"
  fill="outline"
  color="dark"
  href="https://github.com/lyrken"
  target="_blank"
  rel="noopener noreferrer"
>
  GitHub
</ion-button>

</ion-content>
